<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melbourne Landscapes - About</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="styles/about.css">
</head>
<body>
    {{> header}}
    <div class="content">
    <div class="about">
        <div class="about-us">
                <div class="left">
                <h2>About us!</h2>
                <p>Feel free to contact us by phone or email.</p>
                <p>We will make an appointment with you to survey the areas you need redesigned, and will then provide you with a quote for the design, materials and work.</p>
    
                <div>
                    <p>Melbourne Landscapers Pty Ltd have been operating for over 30 years. Our experienced staff handle every landscaping opportunity, from tiny front yards to large corporate land. </p>
                    <p>We can install garden features from walls to fountains, and have a wide range of plants to suit your style and requirements.</p>
                    <p>Please contact us for an initial quote and design.</p>
                </div>
            </div>
            <div class="right">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.8441178019775!2d33.62965021516765!3d27.380583282928335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x85c0b32330c94693!2zMjfCsDIyJzUwLjEiTiAzM8KwMzcnNTQuNiJF!5e0!3m2!1sen!2sau!4v1669154862094!5m2!1sen!2sau" width="680" height="366" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div> 
    </div> 
    {{> footer}}
</body>
</html>