<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/footer.css">
<footer>
    <div class="contact-info">
        <ul>
            <li>Phone: 9887 7889</li>
            <li>Fax: 9887 7881</li>
            <li>Email: melbournelandscapers@grass.net.au</li>
        </ul>
    </div>
    <div class="social-media">
        <a href="https://youtu.be/8ybW48rKBME" class="fa fa-facebook"></a>
        <a href="https://youtu.be/8ybW48rKBME" class="fa fa-twitter"></a>
        <a href="https://youtu.be/8ybW48rKBME" class="fa fa-instagram"></a>
    </div>
    <p class="copyright">©2022 Melbourne Landscapes</p>
</footer>